html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #222;
    color: #fff;
}

body{ overflow: auto; }

*,
*:after,
*:before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a{
    color:  #004876;
    cursor: pointer;
    transition: all .3s ease-out;
}

a:hover { color: #61DAFB }

img {
    max-width: 100%;
    height: auto;
}

mark {
    color: #fff;
    background-color: #CC7A6F;
}
